{% extends "./base.njk" %}

{% block main %}
  <div class="about-hero container">
    <p class="about-hero__lead">
      Ik ben een webontwikkelaar in Utrecht. Toen ik 7 was heeft mijn zus mij geholpen met het bouwen van mijn eerste website
      op Yahoo! GeoCities. In 2016 heb ik mijn fascinatie voor het web hervonden en ben weer verdergegaan in mijn ontdekkingsreis
      naar de wereld van webontwikkeling.
    </p>
    <div class="about-hero__content">
      <p>Tegenwoordig ben ik freelance webontwikkelaar. Ik ontwerp en ontwikkel toegankelijke online diensten en 
        interne tools voor de ambassade van de Republiek in Indonesië in Den Haag. Ik werk met JavaScript en React, 
        maar het als het kan hou ik het graag simpel met een statische website generator als
        <a href="https://www.11ty.dev/">Eleventy</a>. Ik vind het altijd leuk om leren om te gaan met nieuwe technologieën.
      </p>
      <p>Wat mij motiveert is werken naar een toekomst waarin iedereen (mee)telt. De digitale maatschappij speelt hier ook een rol in.
        Als ontwikkelaar wil ik dat mijn code hieraan bijdraagt door te denken in termen van toegankelijkheid en inclusie, met als resultaat
        toegankelijke, robuuste en duurzame webtoepassingen die nuttig zijn en/of plezier brengen.
      </p>
      <p>Ik kom uit Den Haag en woon sinds 2020 in Utrecht. Ik hou van muziek (maken) en speel basgitaar bij een Nederlandstalige popband in Utrecht.
      </p>
    </div>
  </div>
{% endblock %}