{% extends "./base.njk" %}

{% block main %}
  <div class="blog | container flow">
    <h1 class="page-title">Blog</h1>
    <div class="blog__blurb">
      <h2 class="blog__blurb-title">Opinie, tips en (persoonlijke) ervaringen</h2>
      <p class="blog__blurb-text">
        Op mijn blog schrijf ik over webontwikkeling, mijn werk en mijn meningen over de digitale maatschappij. 
      </p>

      <p class="blog__blurb-text">
        Wil je reageren op iets wat ik heb geschreven? Dat kan in het openbaar via mijn <a href="/">Twitterprofiel</a> of privé per <a href="/">email</a>.
      </p>
    </div>
  </div>

  <ul class="blog-list">
    {% for post in collections.posts | reverse %}
      <li class="blog-list__item">
        <div class="container">
          <div class="blog-list__item-date">
            {{ post.date | formatDateNl }}
          </div>
          <div class="tags">
            {% for tag in post.data.tags %}
              <a class="tag" href="/blog/tags/{{tag | slugify}}">{{ tag }}</a>
            {% endfor %}
          </div>
          <a class="blog-list__item-link" href="{{ post.url }}">
            <h2 class="blog-list__item-title">{{ post.data.title }}</h2>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}